.viewPay {
    height: 100vh;
    padding-top: 5%;   
    padding-left: 15%;
    overflow-y: scroll;

}
.SlipForm {
    background-color: #F5F5F5;
    margin: auto;
    margin-top: 4%;
    width: 50%;
    border-radius: 15px;


}
